.vs/config/applicationhost.config
.vs/iFood/v14/.suo
.vs/config/applicationhost.config
.vs/iFood/v14/.suo
iFood/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
iFood.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo