@{
    ViewBag.Title = "Home Page";
}
<!-- Team Members: Sam Sunny, Alex Friesen
     Desc: iFood - Online Website for a restaurant
     Page: Home Page -->
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="padded">
    <div class="col-md-4 menu-item">
        <h2>Appetizers</h2>
        <img class="menu-item-image" src="~/Content/appetizer.jpg" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta tempus eros vitae convallis.
            Donec tristique euismod eros, sagittis ullamcorper ligula posuere a. Ut eleifend vitae arcu quis rutrum.
            Mauris viverra sollicitudin efficitur. Integer condimentum non arcu sit amet accumsan. Vivamus enim nibh,
            suscipit at lacus vitae, bibendum scelerisque risus. Duis sed lorem condimentum, euismod est sit amet, tristique sem.
            Pellentesque dictum eget urna non luctus.
        </p>

    </div>
    <div class="col-md-4 menu-item">
        <h2>Main Course</h2>
        <img class="menu-item-image" src="~/Content/mainCourse.jpg" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta tempus eros vitae convallis.
            Donec tristique euismod eros, sagittis ullamcorper ligula posuere a. Ut eleifend vitae arcu quis rutrum.
            Mauris viverra sollicitudin efficitur. Integer condimentum non arcu sit amet accumsan. Vivamus enim nibh,
            suscipit at lacus vitae, bibendum scelerisque risus. Duis sed lorem condimentum, euismod est sit amet, tristique sem.
            Pellentesque dictum eget urna non luctus.
        </p>
    </div>
    <div class="col-md-4 menu-item">
        <h2>Dessert</h2>
        <img class="menu-item-image" src="~/Content/Dessert.jpg" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta tempus eros vitae convallis.
            Donec tristique euismod eros, sagittis ullamcorper ligula posuere a. Ut eleifend vitae arcu quis rutrum.
            Mauris viverra sollicitudin efficitur. Integer condimentum non arcu sit amet accumsan. Vivamus enim nibh,
            suscipit at lacus vitae, bibendum scelerisque risus. Duis sed lorem condimentum, euismod est sit amet, tristique sem.
            Pellentesque dictum eget urna non luctus.
        </p>
    </div>
</div>