@using iFood.Models
@model FoodTypeModels

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browsing Types of Food: @Model.Name</h2>

<ul>
    @foreach (FoodItemModels item in Model.FoodItems)
    {
        <li>@Html.ActionLink(item.Name,"Details",new {id = item.FoodItemModelsId})</li>
    }
</ul>
