@model IEnumerable<iFood.Models.FoodTypeModels>

@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse Food Types:</h2>
<p>
    Select from @Model.Count() different Types: 
</p>
<ul>
    @foreach (var FoodType in Model)
    {
        <li>@Html.ActionLink(FoodType.Name, "Browse", new { FoodType = FoodType.Name })</li>
    }
</ul>

